<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<head>
<title>李超豪的个人简历主页</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="" />

<!-- menu -->
<link type="text/css" rel="stylesheet" href="css/cm-overlay.css" />
<!-- //menu -->
<link href="css/jquery.fatNav.css" rel="stylesheet" type="text/css">

<!--FlexSlider-->
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
<!--//FlexSlider-->

<link rel="stylesheet" href="css/lightbox.css"><!-- For-gallery-CSS -->

<!-- custom css theme files -->
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<!-- //custom css theme files -->

<!-- google fonts -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">

	<!-- //google fonts -->

</head>
<!-- Body -->
<body id="home">
<!-- banner -->
	<nav class="w3-navbar">
					<div class="container">
						<div class="nav-top">
						
							  <!-- Logo -->
								<div class="logo">
								  <a href="#home" class="scroll">
									Professional <span>CV</span>
								  </a>
							  </div>
							  <!-- Logo -->
							<div class="right">
								<div class="w3-socials">
									<ul>
										<li>
											<a href="#"><span class="fa fa-facebook"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-vk"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-pinterest-p"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-twitter"></span></a>
										</li>
									</ul>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						
					</div> <!-- end container -->
				
	</nav>
	
<div class="w3l-banner">
<div class="wthree-dot">

	<!-- nav -->
	<div class="w3layouts-nav-right">
		<div class="fat-nav">
			<div class="fat-nav__wrapper">
				<ul>
					<li><a href="#" >主页</a></li>
					<li><a href="#about"  class="scroll" >关于我</a></li>
					<li><a href="#services"  class="scroll" >服务</a></li>
					<li><a href="#skills"  class="scroll" >技能</a></li>
					<li><a href="#gallery"  class="scroll" >项目</a></li>
					<li><a href="#stats"  class="scroll" >统计</a></li>
					<li><a href="#experience"  class="scroll" >工作经历</a></li>
					<li><a href="#contact"  class="scroll" >联系我</a></li>
				</ul>
			</div>
		</div>
	</div>		
	<!-- //nav -->
	
		<!-- //Header -->
		<div class="container">
			<div class="flexslider-info">
				<section class="slider col-md-6">
					<div class="flexslider">
						<ul class="slides">
							<li>
							<div class="w3l-info">
								<h1>我是 <span>李超豪</span></h1>
								<p>Cease to the struggle and cease to the life.</p>
								<ul>
									<li><a href="/front/downLoad" class="w3ls_more" >下载简历</a></li>
									<li><a href="#contact" class="scroll w3l_contact">联系我</a></li>
								</ul>
							</div>
							</li>
							<li>
								<div class="w3l-info">
								<h2>这是我的 <span>简历网站</span></h2>
								<p>欢迎！</p>
								<ul>
                                    <li><a href="/front/downLoad" class="w3ls_more" >下载简历</a></li>
									<li><a href="#contact" class="scroll w3l_contact">联系我</a></li>
								</ul>
								</div>
							</li>
							<li>
								<div class="w3l-info">
								<h3>我是一名 <span>开发者</span></h3>
								<p>乐于学习，热爱技术！</p>
								<ul>
                                    <li><a href="/front/downLoad" class="w3ls_more" >下载简历</a></li>
									<li><a href="#contact" class="scroll w3l_contact">联系我</a></li>
								</ul>
								</div>
							</li>
						</ul>
					</div>
				</section>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
<!-- //banner -->

<!-- About section -->
<div class="about" id="about">
	<div class="container">
		<h3 class="text-center">关于我</h3>
		
		<div class="col-md-5 about_left">
							<ul class="address">
								<li>
									<ul class="agileits-address-text ">
										<li><b>姓名</b></li>
										<li>李超豪</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text ">
										<li><b>生日</b></li>
										<li>1993-10-04</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>手机</b></li>
										<li>***</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>职位</b></li>
										<li>软件开发</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>经验</b></li>
										<li>2年</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>地址</b></li>
										<li>徐州杨山路</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>E-MAIL </b></li>
										<li><a href="mailto:lch85825280@163.com"> lch85825280@163.com</a></li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>网址 </b></li>
										<li><a href="#">www.qiuyang.work</a></li>
									</ul>
								</li>
							</ul>
							<div class="w3-socials about-social">
									<ul>
										<li>
											<a href="#"><span class="fa fa-facebook"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-vk"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-pinterest-p"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-twitter"></span></a>
										</li>
									</ul>
								</div>
		</div>
		<div class="col-md-7 about_right">
			<h3>Hi, 我是李超豪</h3>
			<h4>软件开发 : 2年编码经验</h4>
			<p>熟悉Java基础，具备良好的面向对象编程基础。<br>
				熟悉idea、eclipse、maven、svn等项目开发和管理工具。<br>
				熟悉ssm、springboot等主流开发框架的使用，阅读了解底层源码。<br>
				熟悉mysql数据库和redis缓存，熟悉sql的编写和数据库的性能优化。<br>
				熟悉java多线程，线程池的使用。<br>
				熟悉常用设计模式，熟悉数据结构。<br>
				熟悉linux的常用命令，能够搭建常用开发环境以及部署项目。<br>
				熟悉html、css、js、jquery、bootstrap、ajax、vue等前端开发技术。<br>
				具备良好的编码习惯，工作认真负责，热爱技术！</p>
			<ul>
                <li><a href="/front/downLoad" class="w3ls_more" >下载简历</a></li>
				<li><a href="#contact" class="w3l scroll">联系我</a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
		
	</div>
</div>
<!-- //About section -->

<!-- /services -->
<div class="w3-services" id="services">
	<div class="container">
			<div class="w3-services-grids">
						<h3 class="text-center">服务</h3>
				<div class="col-md-4 w3-services-left-grid">
					<h4>科技为人服务</h4>
					<p>科技对于人性化的解读已不仅限于单纯适应人自身的喜好与习惯，更朝着辅助人、引领人、更好地服务于人的方向跃进。</p>
					<div class="more">
						<a href="#">了解更多</a>
					</div>
				</div>
				<div class="col-md-8 w3-services-right-grid">
				<div class="w3-icon-grid-gap1">
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-codepen" aria-hidden="true"></i>
						<h3>后端开发</h3>
						<div class="clearfix"></div>
						<p>熟练掌握JAVA、JSP/SERVLET、JDBC等J2EE基础技术。</p>
					</div>
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-mobile" aria-hidden="true"></i>
						<h3>移动App</h3>
						<div class="clearfix"></div>
						<p>熟悉Android SDK以及Android软件架构。</p>
					</div>
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-hourglass" aria-hidden="true"></i>
						<h3>性能调优</h3>
						<div class="clearfix"></div>
						<p>熟悉JVM调优、性能问题分析。</p>
					</div>
					<div class="clearfix"></div>
					</div>
					<div class="w3-icon-grid-gap2">
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-modx" aria-hidden="true"></i>
						<h3>前端开发</h3>
						<div class="clearfix"></div>
						<p>熟悉html、css、js、jquery、bootstrap、ajax、vue等前端开发技术。</p>
					</div>
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-bar-chart" aria-hidden="true"></i>
						<h3>系统维护</h3>
						<div class="clearfix"></div>
						<p>熟悉linux的常用命令，能够搭建常用开发环境以及部署项目。</p>
					</div>
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-shopping-bag" aria-hidden="true"></i>
						<h3>微信小程序开发</h3>
						<div class="clearfix"></div>
						<p>熟悉微信小程序前后端开发。</p>
					</div>
					<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //services -->
<div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >自助建站</a></div>
<!--skills -->
<div class="skills-agileinfo" id="skills">
	<div class="container">
		<h3 class="text-center">技能</h3>
				<div class="modal-spa">
					<div class="skills"> 
						<div class="col-md-6 bar-grids bargrids-left">
							<h4> 专业技能 </h4>
							<p>You can do more than you think.</p>
							<h6>后台开发  <span> 85% </span></h6>
							<div class="progress">
								<div class="progress-bar progress-bar-striped active" style="width: 80%">
								</div>
							</div>
							<h6>数据库 <span> 75% </span></h6>
							<div class="progress  w3-agile">
								<div class="progress-bar progress-bar-striped active" style="width: 70%">
								</div>
							</div>
							<h6>系统维护<span>70% </span></h6>
							<div class="progress  w3-agile">
								<div class="progress-bar progress-bar-striped active" style="width: 70%">
								</div>
							</div>
							<h6>前端开发 <span> 50% </span></h6>
							<div class="progress  w3-agile prgs-w3agile-last">
								<div class="progress-bar progress-bar-striped active" style="width: 50%">
								</div>
							</div>
						</div> 
						<div class="col-md-6 bar-grids  w3-agile">
							<h4> 爱好 </h4>
							<p>The interest is best teacher.</p>
							<div class="col-md-4 hobbies-grid1 grid1">
								<span class="fa fa-codepen"></span>
								<h5>编码</h5>
							</div>
							<div class="col-md-4 hobbies-grid1 grid2">
								<span class="fa fa-hourglass"></span>
								<h5>探索</h5>
							</div>
							<div class="col-md-4 hobbies-grid1 grid3">
								<span class="fa fa-camera"></span>
								<h5>摄影</h5>
							</div>
							<div class="clearfix"></div>
							
							<div class="col-md-4 hobbies-grid1 grid4">
								<span class="fa fa-plane"></span>
								<h5>旅行</h5>
							</div>
							<div class="col-md-4 hobbies-grid1 grid5">
								<span class="fa fa-headphones"></span>
								<h5>音乐</h5>
							</div>
							<div class="col-md-4 hobbies-grid1 grid6">
								<span class="fa fa-tint"></span>
								<h5>思考</h5>
							</div>
							<div class="clearfix"></div>
							
						</div>
						<div class="clearfix"> </div>	
					</div>
				</div> 
		</div> 
</div> 
<!-- //skills -->

<!--gallery-->
	<div class="gallery" id="gallery">
		<div class="container">
		<div class="about-head text-center ">
		<h3 class="text-center">我的项目</h3>
		</div>	
			<div class="gallery-info">
				<div class="col-md-3 gallery-grids">
					<a href="images/mingli.jpg" class="gallery-box" data-lightbox="example-set" data-title="明丽天社区">
						<img src="images/mingli.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="images/nongji.jpg" class="gallery-box" data-lightbox="example-set" data-title="农机宝">
						<img src="images/nongji.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="images/studyapp.png" class="gallery-box" data-lightbox="example-set" data-title="师带徒APP">
						<img src="images/studyapp.png" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="images/city.png" class="gallery-box" data-lightbox="example-set" data-title="智慧城市">
						<img src="images/city.png" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="images/AI.png" class="gallery-box" data-lightbox="example-set" data-title="亚太机器人学院">
						<img src="images/AI.png" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="clearfix"> </div>	
			</div>
			<script src="js/lightbox-plus-jquery.min.js"></script>
		</div>
</div>
<!--//gallery-->

<!-- stats -->
	<div class="stats" id="stats">
		<div class="container">
		<h3 class="text-center">统计</h3>
			<div class="w3layouts_skills_grids">
				<div class="col-md-3 w3ls_about_guage">
					<canvas id="gauge1" width="200" height="100"></canvas>
					<h4>完成项目</h4>
				</div>
				<div class="col-md-3 w3ls_about_guage">
					<canvas id="gauge2" width="200" height="100"></canvas>
					<h4>移动App</h4>
				</div>
				<div class="col-md-3 w3ls_about_guage">
					<canvas id="gauge3" width="200" height="100"></canvas>
					<h4>正在运营</h4>
				</div>
				<div class="col-md-3 w3ls_about_guage">
					<canvas id="gauge4" width="200" height="100"></canvas>
					<h4>销售</h4>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //stats -->

<!-- My experience -->
<!--<section class="experience" id="experience">
	<div class="container">
		<h3 class="text-center">工作经历</h3>
		<div class="col-md-5 exp_left">
			<img src="images/shindey.jpg" alt="" />
		</div>
		<div class="col-md-7 exp_right">
			<h3>我的经历</h3>
			<p>Morbi imperdiet scelerisque felis, eget auctor libero eleifend nec. 
			Curabitur a aliquet justo. Etiam et ullamcorper dolor. Nam pulvinar accumsan congue.
			Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
			<div class="exp_grids">
				<div class="exp_grid1">
					<h4>Senior web developer in x company</h4>
					<h5>2015-2017</h5>
					<p>Aliquam dignissim mollis metus at tempor. Donec ac malesuada nibh, 
					vel tincidunt nibh. Fusce facilisis, mi in tristique elementum, sem magna. </p>
					<span class="fa fa-circle"></span>
				</div>
				<div class="exp_grid1">
					<h4>Graphic designer in x company</h4>
					<h5>2010-2013</h5>
					<p>Aliquam dignissim mollis metus at tempor. Donec ac malesuada nibh, 
					vel tincidunt nibh. Fusce facilisis, mi in tristique elementum, sem magna. </p>
					<span class="fa fa-circle"></span>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div> 
</section>-->
<!-- //My experience -->

<!-- comments -->
<section class="comment-w3l" id="contact">
	<div class="container">
		<h3 class="text-center">联系我</h3>
		<div class="col-lg-6 col-md-6 col-sm-6 comment-agile1" data-aos="flip-left">
			<form action="#" method="post">
                <div class="control-group form-group">
                    <div class="controls">
                        <input type="text" class="form-control" id="name" placeholder="Full Name" required="">
                        <p class="help-block"></p>
                    </div>
                </div>
				<div class="control-group form-group">
                    <div class="controls">
                        <input type="email" class="form-control" id="email" placeholder="Email Address" required="">
                    </div>
                </div>
				<div class="control-group form-group">
                    <div class="controls">
                        <input type="text" class="form-control" id="name1" placeholder="Phone Number" required="">
						<p class="help-block"></p>
					</div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <textarea rows="10" cols="100" class="form-control" id="message" placeholder="Message" required></textarea>
                    </div>
                </div>
				<button type="submit" class="btn btn-primary">发消息</button>
            </form>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 comment-agile2" data-aos="flip-right">
			<h4>与我联系了解更多详情</h4>
			<p class="comment-w3"></p>
			
			<h5><span class="fa fa-phone"></span> ***</h5>
			<h5><span class="fa fa-envelope"></span> <a href="mailto:lch85825280@163.com"> lch85825280@163.com</a></h5>
			<h5><span class="fa fa-map-marker"></span> 徐州市杨山路科技创新谷</h5>
			<h5><span class="fa fa-twitter"></span> 微信:justanotherpart</h5>
			<h5><span class="fa fa-instagram"></span> instagram/@my_website</h5>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
<!-- /comments -->
<div class="w3l_footer">
		<div class="container">
			<h3>感谢浏览我的网站</h3>
				<div class="connect-social">  
					<ul>
						<li class="connect">联系 : </li>
						<li><a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#" class="social-button linkedin"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			<p class="agileits_w3ls_copyright">Copyright &copy; 2018.<a href="http://www.cssmoban.com/" target="_blank" title="模板之家"></a>
			<div class="arrow-container animated fadeInDown">
				<a href="#home" class="arrow-2 scroll">
					<i class="fa fa-angle-up"></i>
				</a>
				<div class="arrow-1 animated hinge infinite zoomIn"></div>
			</div>
		</div>
	</div>
	<!--//footer -->


<!-- Default-JavaScript-File -->
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- //Default-JavaScript-File -->

<!-- gauge-meter -->
	<script src="js/jquery.gauge.js"></script>
	<script>
		$(document).ready(function (){
			$("#gauge1").gauge(90,{color: "#ff4f81",unit: " %",type: "halfcircle"});
			$("#gauge2").gauge(70, {color: "#2dde98", unit: " %",type: "halfcircle"});
			$("#gauge3").gauge(75, {color: "#00aeff",unit: " %",type: "halfcircle"});
			$("#gauge4").gauge(40, {color: "#ffb900",unit: " %",type: "halfcircle"});
		});
	</script>
<!-- //gauge-meter -->

<!--menu script-->
<script type="text/javascript" src="js/modernizr-2.6.2.min.js"></script>
		<script src="js/jquery.fatNav.js"></script>
		<script>
		(function() {
			
			$.fatNav();
			
		}());
		</script>

<!--Start-slider-script-->
	<script defer src="js/jquery.flexslider.js"></script>
		<script type="text/javascript">
		
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	  </script>
<!--End-slider-script-->

<!-- smooth scrolling -->
	<script src="js/SmoothScroll.min.js"></script>
<!-- smooth scrolling -->

<!-- scrolling script -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 
<!-- //scrolling script -->
	
	
</body>
<!-- //Body -->
</html>